<!doctype html>
<html>
    <head>
        <title>{{ block "title" . }}adt{{ end }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>
    <body>
        {{ block "content" . }}{{ end }}
    </body>
</html>
